services:
  api-dev:
    build:
      context: ./apps/api
    env_file:
      - ./.env.docker.api.dev
    ports:
      - "8080:8080"
    volumes:
      - /Users/eliasjunior/Downloads/Videos:/videos
    profiles:
      - dev

  api:
    build:
      context: ./apps/api
    env_file:
      - ./.env.docker.api.prod
    environment:
      - ADMIN_PASSWORD_HASH_FILE=/run/secrets/admin_password_hash
    ports:
      - "8080:8080"
    volumes:
      - /home/gandalf/Videos:/videos
    secrets:
      - admin_password_hash
    profiles:
      - prod

  web-dev:
    build:
      context: ./apps/web
      dockerfile: Dockerfile.dev
    env_file:
      - ./.env.docker.web.dev
    ports:
      - "3000:3000"
    volumes:
      - ./apps/web:/app
      - /app/node_modules
    depends_on:
      - api-dev
    profiles:
      - dev

  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    env_file:
      - ./.env.docker.web.prod
    ports:
      - "3000:80"
    depends_on:
      - api
    profiles:
      - prod

secrets:
  admin_password_hash:
    file: ./secrets/admin_password_hash
