services:
  api-dev:
    build:
      context: ./apps/api
    env_file:
      - ./.env.docker.api.dev
    ports:
      - "8080:8080"
    volumes:
      - /Users/eliasjunior/Downloads/Videos:/videos
    profiles:
      - dev

  app:
    container_name: home-video-app
    build:
      context: ./apps
      dockerfile: ./api/Dockerfile
      args:
        PUBLIC_URL: /home-video
    env_file:
      - ./.env.docker.api.prod
    environment:
      - PUBLIC_URL=/home-video
      - ADMIN_PASSWORD_HASH_FILE=/run/secrets/admin_password_hash
      - SERVER_PORT=8081
      - JWKS_URL=http://host.docker.internal:8080/.well-known/jwks.json
      - DEBUG=jwt,redis,web
      - SSO_REDIS_ENABLED=true
      - USE_SPRING_SESSION=true
      - REDIS_HOST=host.docker.internal
      - JWKS_VALIDATION=true
      - SESSION_COOKIE_NAME=SESSIONID
      - LOGIN_SECOND_RETRY=true
      - LOGIN_SECOND_RETRY_URL=http://host.docker.internal:8080/api/authenticate
      - LOGIN_SECOND_RETRY_CSRF_URL=http://host.docker.internal:8080/api/csrf
      - MULTI_USER_ENABLED=true
    ports:
      - "8081:8081"
    volumes:
      - /Users/rodrigo/Downloads/Videos:/mnt-host:ro
    secrets:
      - admin_password_hash
    profiles:
      - prod
    extra_hosts:
      - "host.docker.internal:host-gateway"

secrets:
  admin_password_hash:
    file: ./secrets/admin_password_hash
